.navbar{

    height: 100px;
    background-color: rgb(223, 194, 155);
}
.button-circle{
    display: none;
}
.navbar-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    
  
}

.navbar-menu{
    display: flex;

    
}

.menu li  {

    margin: 0 .5rem 0 0;
}





@media screen and (max-width:800px) {



    // titre***********
    .total-titre{
        width: 100%;
        text-align: center;
    }

    // *******

   

    .navbar{
        position: relative;
   

    }
    .navbar-contain{
        width: 100%;
    }
    .navbar-menu{
        position: absolute;
        left:-150px;
        

        .navbar-menu-2{
            position: relative;
            .button-circle{
                display: block;
                border-radius: 30px;
                height: 100px;
                width: 60px;
                background-color: rgb(0, 255, 170);
                z-index: 100;
                position: absolute;
                top:30%;
                right: -15px;
            }
        }
    }
    .navbar-menu .active{
        left:0;
    }
    

    .menu{
        flex-direction: column;
        justify-content: start;
        align-items: start;
        background-color: rgb(32, 187, 187);
        padding: 2rem;
        padding-left:0.5rem ;
        width: 150px;
        position: relative;
        height: 100vh;
        z-index: 99;

        
    
    }
   
    
}