.navbar{

    background-image: url(/public/images/header/terre.jpg);
    color: aliceblue;
}
.button-circle{
    display: none;
}
.navbar-menu-2{
  padding: 3px;
   
  
}

.navbar-menu{
    display: flex;
    padding-top: 5px;
    
    
}
.name {
    font-size:17px;
}



.text-contact-fin{
    margin: auto;
    
}



@media screen and (min-width:1024px) {
    .navbar-menu{
        margin-right: 15rem;
        
}

}


@media screen and (max-width:800px) {


.navbar-menu{
    width: 100%;
}
.navbar-menu-2{
    width: 100%;
}
.menu{
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    justify-content: space-between;
    
}
.navbar-contain{
     flex-direction: column;
     align-items: center;
     justify-content: center;

 }

    // titre***********
    .total-titre{
        width: 100%;
        text-align: center;
    }

    // *******

   

    .navbar{
        position: relative;
   

    }
    .navbar-contain{
        width: 100%;
    }
   

       
    

   
        
    
    }
   
    
