.gg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Couleur de fond semi-transparente */
    z-index: 1000; /* Assurez-vous que l'overlay est au-dessus de tous les autres éléments */
}



.ff{
    
  
}

.navbar{
width: 20%;
  position: fixed;
  z-index: 1000;
}
.button-circle{
    display: none;
}
.navbar-menu-2{
  padding: 3px;
   
  
}

.navbar-menu{
    display: flex;
    padding-top: 5px;
    
    
}
.name {
    font-size:17px;
}



.text-contact-fin{
    margin: auto;
    
}



@media screen and (min-width:1024px) {
    .navbar-menu{
        margin-right: 15rem;
        
}

}


@media screen and (max-width:800px) {


.navbar-menu{
    width: 100%;
}
.navbar-menu-2{
    width: 100%;
}
.menu{
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    justify-content: space-between;
    
}
.navbar-contain{
     flex-direction: column;
     align-items: center;
     justify-content: center;

 }

    // titre***********
    .total-titre{
        width: 100%;
        text-align: center;
    }

    // *******

   

    .navbar{
        position: relative;
   

    }
    .navbar-contain{
        width: 100%;
    }
   

       
    

   
        
    
    }


    //// crea2
    /// 
    .image_selected{
        border: 1px solid orangered;
    }
   
    
