.imgPortfolio{

    width: 250px;
    height: 200px;
    overflow: hidden;

}
.trois-boutons{
    margin-top: 1rem;

    .boutons{
    
        padding:1rem;
        border-radius:50% ;
        color: antiquewhite;
        background-color: rgb(74, 71, 71);
    }
}