.imgPortfolio{

    width: 250px;
    height: 200px;
    overflow: hidden;

}
.trois-boutons{
    margin-top: 1rem;

    .boutons{
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 20px;
        height: 20px;
        margin: 0.5rem;
        padding:0.5rem;
        border-radius:50% ;
        color: antiquewhite;
        background-color: rgb(74, 71, 71);
    }
}
.tabb{
    display: flex;
}

.imgPortfolio {
    img{
        z-index: 50;
        width: 100%;
    }
    button{
        color: aliceblue;

        z-index: 99;
    }
    .nextPre{
          font-size: 1.5rem;
    }
    #preview{
        top:50%;
        border-radius: 50%;
        transform: translateY(-50%);
        padding: .5rem;
       border: 1px solid white;
       width: 2rem;
       height: 2rem;
       display: flex;
       justify-content: center;
       align-items: center;
    }
    #next{
        top:50%;
        right: 0;
        border-radius: 50%;
        transform: translateY(-50%);
        padding: .5rem;
       border: 1px solid white;
       width: 2rem;
       height: 2rem;
       display: flex;
       justify-content: center;
       align-items: center;
    }
}

.voir-portfolio{
    padding: .5rem;
}

// carousel div
.carouselImg{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

@media screen and (max-width:800px) {
    // carousel service
    .total-1{
        flex-direction: column;
    }
    .carousel-item{
        width: 100%;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    .responsiService{
        width: 100%;
    }
    .responsi3boutons{
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .trois-boutons ul{
        flex-direction: row;
    }
    .responsiText-service{
        width: 100%;
        margin: auto;
        margin-left: 0;
        padding-left: 0;
        padding: 1rem;
        text-align: start;
    }

    .responsiTitreDescrip{
        width: 100%;
    }
    .divRealisation{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .competance{
        width: 100%;
    }
    .text_competence{
        width: 100%;
        p{
            width: 100%;
        }
        div{
            width: 100%;
        }
     
    }
}