@tailwind base;
 
@tailwind components;
 
@tailwind utilities;


@import './portfolio/portfolio.scss';
@import './portfolio/checkbox.scss';
@import './navbar/navbar.scss';
@import './competance/competance.scss';
@import './contact/contact.scss';
@import './footer/footer.scss';
@import './portfolio/realisation/realisation.scss';
@import './contact/animation.scss';
@import './design/design.scss';
@import './design/crea1.scss';
@import './pageloader.scss';
@import './design/cardCrea.scss';
@import './animationSVG.scss';
@import './animationSVGnav.scss';

@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

  
  @media screen and (prefers-reduced-motion:no-preference) {
    html{
      scroll-behavior: smooth;
    }
  }
html, body {
  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-height: 100%;
    position: relative;




   

  }
  .font{
    max-height: 1000rem;
  }

  #root{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-height: 100%;
    position: relative;

  }

  .font2{
    padding-bottom: 11rem;
  }

.custom-scrollbar {
 overflow-x: hidden;
    scrollbar-color: transparent transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 1px; /* Largeur de la barre de défilement */
   
    opacity: 0.1;
 
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(114, 205, 219);
    border-radius: 50%;

  }
  
  

  
  




.radix-themes{
    
 
    display: flex;
    flex-direction: column;
    flex-grow: 1;
   
    position: relative;
   
}


.contact{
    max-height: 100%;
    padding-bottom: 15rem;
}


.light-text{
    color:rgb(129, 137, 153);
   
}
.move-line {
    border: none;
    padding: 10px 20px;
    position: relative;
    display: inline-block;
    
    cursor: pointer;
  
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: rgb(8, 4, 7); // Couleur de la bordure au départ
      transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out; // Transition de largeur et couleur
    }
  
    &:hover::before {
      width: 100%; // Largeur de la bordure au survol
      background-color: rgb(224, 112, 178); // Couleur de la bordure au survol
    }
  }
  
.home{
    padding: 1rem 2rem 0 2rem;
 
}

h1{
    font-size: 35px;
}
h2{
    font-size: 30px ;
}
h3{
    font-size: 25px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 18px;
}
h6{
    font-size: 15px;
}

@media screen and (max-width:800px) {

    h1{
        font-size: 30px;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 18px;
    }
    h5{
        font-size: 16px;
    }
    p{
        font-size: 16px;
    }
}

*{box-sizing: border-box;
    font-size: 15px;
    // border:solid red 1px
}
.cardHeight{
    min-height: 55rem;
   
    width: 100%;
}