

textarea{
    padding-left: 22px;
    padding-right: 10px;
}
.boutonss{
  
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;
    margin: 0.5rem;
    padding:0.5rem;
    border-radius:50% ;
    color: antiquewhite;
    background-color: rgb(74, 71, 71);

}
.contact-identifiant{
   
    p{
        input{
            padding-left: 22px;
            width: 80%;
        }
    }
}
.parag{
    width: 80%;
}
.contact-animation{
   
    background-color: rgb(156, 163, 175);
}

@media  screen and (max-width:800px) {

    .total-contact{
        flex-direction: column;
        width: 100%;
        .contact-form{
            margin: auto;
         
            form {
               display: flex;
               flex-direction: column;
               width: 100%;
           }
        }

        .contact-identifiant,.contact-text{
            width: 100%;
          
        }
    }
    
}