
html,body{
    min-height: 100%;
}
textarea{
    padding-left: 22px;
    padding-right: 10px;
}

.contact-identifiant{
   
    p{
        input{
            padding-left: 22px;
            width: 80%;
        }
    }
}
.parag{
    width: 80%;
}
.contact-animation{
   
    background-color: rgb(156, 163, 175);
}

@media  screen and (max-width:800px) {

    .total-contact{
        flex-direction: column;
        width: 100%;
    
        .contact-form{
            margin: auto;
         
            form {
               display: flex;
               flex-direction: column;
               width: 100%;
           }
        }

        .contact-identifiant,.contact-text{
            width: 100%;
          
        }
    }
    
}