.competance{
  
    margin: auto;
    .text_competence{
        padding: 1rem 1.5rem 1rem 1.5rem;
        text-align: justify;
        
    }
}

.iconGit{
    left: -35px;
    top:35%
}
.iconLinke{
    bottom: 35%;
    left: -35px;
}



.ima{
    min-width: 200px;
    min-height: 200px;
    max-width: 250px;
    max-height: 250px;
    margin: auto;
}


.fa-linkedin, .fa-github{
   
    &:hover{
       color: rgb(94, 89, 89);
    }
}





@media screen and (max-width:800px){

    .competance{
        flex-direction: column;
        .text_competence{
            width: 100%;
            
        }
    }
}