.competance{
    .text_competence{
        padding: 1rem 1.5rem 1rem 1.5rem;
        text-align: justify;
    }
}


@media screen and (max-width:800px){

    .competance{
        flex-direction: column;
        .text_competence{
            width: 100%;
            
        }
    }
}