.competance{
    margin: auto;
    .text_competence{
        padding: 1rem 1.5rem 1rem 1.5rem;
        text-align: justify;
    }
}
.foto{
    margin: auto;
    margin-left: 1rem;
}

.fa-brands{
    font-size: 20px;
}

@media screen and (max-width:800px){

    .competance{
        flex-direction: column;
        .text_competence{
            width: 100%;
            
        }
    }
}