@charset "UTF-8";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
.rt-Flex a {
  margin: auto;
}

.cardPortfolio {
  --anchor-name:--develop;
}

.hovver:has(p:hover) {
  --anchor:--develop
  --active:1;
}

.hovver::after {
  inset: anchor(var(--anchor) top) anchor(var(--anchor) right);
  opacity: var(--acrtive, 0);
  transition: opacity 0.2s;
}

.cardPortfolio {
  padding: 0.5rem;
  padding-top: 0;
  width: 300px;
  height: 300px;
  margin: 0.5rem;
  margin-bottom: 3rem;
}
.cardPortfolio .contain-img-text {
  height: 200px;
}
.cardPortfolio .containImg {
  width: 100%;
  height: 200px;
  opacity: 1;
  overflow: hidden;
}
.cardPortfolio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cardPortfolio .hovver {
  width: 100%;
  height: 200px;
  text-align: center;
  padding: 0.5rem;
  opacity: 0;
}
.cardPortfolio .hovver:hover {
  opacity: 0.9;
}

.ulVoir {
  justify-content: space-around;
  margin-top: 1rem;
}

.choice-tekno {
  margin: auto;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.choice-tekno p {
  margin-bottom: 0.2rem;
}
.choice-tekno .input-choice-tekno {
  margin-left: 1rem;
  margin-right: 1rem;
  margin: auto;
  border-radius: 0.5rem;
}
.choice-tekno .checkbox-input {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.choice-tekno .checkbox-input:checked + .checkbox-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #2260ff;
}
.choice-tekno .checkbox-input:checked + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #2260ff;
  border-color: #2260ff;
}
.choice-tekno .checkbox-input:checked + .checkbox-tile .checkbox-icon, .choice-tekno .checkbox-input:checked + .checkbox-tile .checkbox-label {
  color: #2260ff;
}
.choice-tekno .checkbox-input:focus + .checkbox-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}
.choice-tekno .checkbox-input:focus + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
}
.choice-tekno .checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7rem;
  min-height: 4rem;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}
.choice-tekno .checkbox-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.choice-tekno .checkbox-tile:hover {
  border-color: rgb(236, 105, 195);
}
.choice-tekno .checkbox-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}
.choice-tekno .checkbox-icon {
  transition: 0.375s ease;
  color: #494949;
}
.choice-tekno .checkbox-icon svg {
  width: 3rem;
  height: 3rem;
}
.choice-tekno .checkbox-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
}

.cardCheck {
  width: 0.8rem;
  height: 0.8rem;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
}

.cardCheck:checked {
  background-color: rgb(206, 112, 112);
}

.totalCheck {
  padding: 0.5rem;
  border-radius: 15px;
  width: 100px;
}
.totalCheck:hover {
  background-color: aqua;
}
.totalCheck img {
  max-height: 45px;
  margin-top: 0.5rem;
  width: 100%;
}

#reactColor {
  color: white;
}

.gg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Couleur de fond semi-transparente */
  z-index: 1000; /* Assurez-vous que l'overlay est au-dessus de tous les autres éléments */
}

.btn {
  width: 139px;
  height: 139px;
  font-weight: 500;
  font-size: 1rem;
  position: relative;
}

.ft {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 55rem !important;
}

.gt {
  position: absolute !important;
  top: 0 !important;
  left: 0;
  margin: 2rem;
  margin-top: 5rem;
}

.text-circle-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centre les éléments verticalement */
  align-items: center; /* Centre les éléments horizontalement */
  height: 100%;
}

.text-circle-container h1 {
  position: absolute; /* Position absolue pour les balises <h1> */
  transform-origin: 50% 50%; /* Point de rotation au centre de chaque balise <h1> */
}

.text-circle-container h1 span {
  transform: rotateZ(calc(var(--i) * 30deg)); /* Correction de l'angle de rotation */
}

.navbar {
  width: 20%;
  position: fixed;
  z-index: 1000;
}

.button-circle {
  display: none;
}

.navbar-menu-2 {
  padding: 3px;
}

.navbar-menu {
  display: flex;
  padding-top: 5px;
}

.name {
  font-size: 17px;
}

.text-contact-fin {
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .navbar-menu {
    margin-right: 15rem;
  }
}
@media screen and (max-width: 800px) {
  .navbar-menu {
    width: 100%;
  }
  .navbar-menu-2 {
    width: 100%;
  }
  .menu {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    justify-content: space-between;
  }
  .navbar-contain {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .total-titre {
    width: 100%;
    text-align: center;
  }
  .navbar {
    position: relative;
  }
  .navbar-contain {
    width: 100%;
  }
}
.image_selected {
  border: 1px solid orangered;
}

.competance {
  margin: auto;
}
.competance .text_competence {
  padding: 1rem 1.5rem 1rem 1.5rem;
  text-align: justify;
}

.iconGit {
  left: -35px;
  top: 35%;
}

.iconLinke {
  bottom: 35%;
  left: -35px;
}

.ima {
  min-width: 200px;
  min-height: 200px;
  max-width: 250px;
  max-height: 250px;
  margin: auto;
}

.fa-linkedin:hover, .fa-github:hover {
  color: rgb(94, 89, 89);
}

@media screen and (max-width: 800px) {
  .competance {
    flex-direction: column;
  }
  .competance .text_competence {
    width: 100%;
  }
}
html, body {
  min-height: 100%;
}

textarea {
  padding-left: 22px;
  padding-right: 10px;
}

.contact-identifiant p input {
  padding-left: 22px;
  width: 80%;
}

.parag {
  width: 80%;
}

.contact-animation {
  background-color: rgb(156, 163, 175);
}

@media screen and (max-width: 800px) {
  .total-contact {
    flex-direction: column;
    width: 100%;
  }
  .total-contact .contact-form {
    margin: auto;
  }
  .total-contact .contact-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .total-contact .contact-identifiant, .total-contact .contact-text {
    width: 100%;
  }
}
.footerr {
  bottom: 0;
  height: 10rem;
}
.footerr .footer-text-social {
  margin: auto;
  margin-bottom: 2rem;
}
.footerr .footer-text, .footerr .footer-social {
  margin: auto;
  margin-top: 2rem;
}
.footerr .footer-menu {
  margin: auto;
  margin-right: 1rem;
}
.footerr .foot {
  margin-bottom: 1rem;
}
.footerr .social-icon {
  border-left: solid 1px wheat;
  padding-left: 1rem;
}
.footerr .cercle {
  height: 1rem;
}
.footerr .cercle h1 {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.footerr .cercle h1 span {
  font-size: 12px;
  height: 9rem;
  position: absolute;
  width: 2rem;
  transform-origin: 1px;
  transform: translate(-50%) rotateZ(calc(var(--i) * 10deg));
}

.imgPortfolio {
  width: 250px;
  height: 200px;
  overflow: hidden;
}

.trois-boutons {
  margin-top: 1rem;
}
.trois-boutons .boutons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  color: antiquewhite;
  background-color: rgb(74, 71, 71);
}

.boutonss {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  color: antiquewhite;
  background-color: rgb(74, 71, 71);
  margin-right: 1rem;
}

.tabb {
  display: flex;
}

.imgPortfolio img {
  z-index: 50;
  width: 100%;
}
.imgPortfolio button {
  color: aliceblue;
  z-index: 99;
}
.imgPortfolio .nextPre {
  font-size: 1.5rem;
}
.imgPortfolio #preview {
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  padding: 0.5rem;
  border: 1px solid white;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgPortfolio #next {
  top: 50%;
  right: 0;
  border-radius: 50%;
  transform: translateY(-50%);
  padding: 0.5rem;
  border: 1px solid white;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.voir-portfolio {
  padding: 0.5rem;
}

.carouselImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.total-1 {
  margin-top: 5rem;
}

.logoHomei {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 0.2rem;
}

@media screen and (max-width: 800px) {
  .total-1 {
    flex-direction: column;
  }
  .carousel-item {
    width: 100%;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .responsiService {
    width: 100%;
  }
  .responsi3boutons {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .trois-boutons ul {
    flex-direction: row;
  }
  .responsiText-service {
    width: 100%;
    margin: auto;
    margin-left: 0;
    padding-left: 0;
    padding: 1rem;
    text-align: start;
  }
  .responsiTitreDescrip {
    width: 100%;
  }
  .divRealisation {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .competance {
    width: 100%;
  }
  .text_competence {
    width: 100%;
  }
  .text_competence p {
    width: 100%;
  }
  .text_competence div {
    width: 100%;
  }
}
.main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid green;
}

.main h1 {
  text-align: center;
  text-transform: uppercase;
  color: #F1FAEE;
  font-size: 4rem;
}

.main h1 h3 {
  font-size: 4rem;
  text-align: center;
  color: #7489a5;
}

.roller {
  height: 100%;
  border: 3px pink solid;
  line-height: 8rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1D3557;
}

#spare-time {
  font-size: 5rem;
  font-style: italic;
  letter-spacing: 1rem;
  margin-top: 0;
  color: #A8DADC;
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 7s infinite;
  left: 1rem;
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -8rem;
  }
  50% {
    top: -15rem;
  }
  72.5% {
    top: -30rem;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #F1FAEE;
    font-size: 2.125rem;
  }
  .roller {
    height: 2.6rem;
    line-height: 2.125rem;
  }
  #spare-time {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  .roller #rolltext {
    animation: slide-mob 5s infinite;
  }
  @keyframes slide-mob {
    0% {
      top: 0;
    }
    25% {
      top: -2.125rem;
    }
    50% {
      top: -4.25rem;
    }
    72.5% {
      top: -6.375rem;
    }
  }
}
.total-crea {
  margin: auto;
}

.tot {
  top: 30%;
  margin-left: 2rem;
  width: 70%;
}
.tot h1 {
  color: black;
}
.tot h1:nth-child(2) {
  margin-left: 2rem;
}

.custom-font {
  font-family: "PT Serif", serif;
}

.custom-font-title {
  font-family: "Anton", sans-serif;
}

.auto {
  margin: auto;
}

.vertical {
  top: 40%;
  left: -35%;
}
@media screen and (min-width: 1024px) {
  .vertical {
    left: -39%;
  }
}

.rotate-letter {
  transform: rotate(7deg);
  -ms-transform: rotate(90deg); /* IE 9 */
  -moz-transform: rotate(90deg); /* Firefox */
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -o-transform: rotate(90deg); /* Opera */
  color: wheat;
  opacity: 0.2;
}

.background {
  background-color: #FFECF7;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='589' height='70.7' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='5.6' stroke-opacity='0.42'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  opacity: 0.2;
}

.fond-crea {
  background-color: rgb(140, 137, 124);
  max-width: 100%;
}

.font-titre {
  background-color: rgb(192, 185, 143);
}

.font-titre-fond {
  color: rgb(192, 185, 143) !important;
}

.font-titre-fond-g {
  color: white !important;
}

.scrollBar-rigth {
  color: #716a6e;
}

.projet {
  color: #9f989c;
}

.pageLoader {
  height: 150vh;
  width: 100%;
  background-color: rgb(187, 176, 176);
  position: absolute;
  z-index: 100;
  overflow: hidden;
}
.pageLoader .rond {
  height: 500px;
  width: 500px;
  border-radius: 50%;
}
.pageLoader .carre {
  height: 0px;
  width: 200px;
  background-color: rgb(191, 217, 217);
  z-index: 50;
  bottom: 50%;
  left: 40%;
  overflow: hidden;
}
.pageLoader .rectangle {
  width: auto;
  height: 0;
  bottom: 50%;
  left: 30%;
  background-color: rgb(186, 120, 172);
  z-index: 99;
  overflow: hidden;
}
.pageLoader .rectangle h1 {
  transform: translateY(100px);
}
.pageLoader .rectangle2 {
  overflow: hidden;
  height: 0px;
  width: 100px;
  left: 60%;
  bottom: 50%;
  z-index: 90;
  background-color: rgb(64, 62, 62);
}
.pageLoader .fenetre {
  width: 20px;
  height: 20px;
  background-color: rgb(106, 198, 198);
  margin: 0.2rem;
}
.pageLoader .fenetre2 {
  width: 20px;
  height: 20px;
  background-color: rgb(121, 140, 74);
  margin: 3px;
  padding: 0.1rem;
}

.title {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  color: #5D4037;
  text-align: center;
}

.containerCard {
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-wrap {
  margin: 10px;
  transform: perspective(800px);
  transform-style: preserve-3d;
  cursor: pointer;
}
.card-wrap:hover .card-info, .card-wrap:hover .card-icon {
  transform: translateY(0);
}
.card-wrap:hover .card-info p {
  opacity: 1;
}
.card-wrap:hover .card-info, .card-wrap:hover .card-icon, .card-wrap:hover .card-info p {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card-wrap:hover .card-info:after, .card-wrap:hover .card-icon:after {
  transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 1;
  transform: translateY(0);
}
.card-wrap:hover .card-bg {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.3;
}
.card-wrap:hover .card {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}

.card {
  position: relative;
  flex: 0 0 240px;
  width: 240px;
  height: 320px;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-bg {
  opacity: 0.7;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}

.card-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateY(40%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info p {
  opacity: 0;
  text-shadow: black 0 2px 3px;
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(113, 217, 224, 0.6) 100%);
  background-blend-mode: overlay;
  opacity: 0;
  transform: translateY(100%);
  transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-icon {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateY(40%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-icon p {
  opacity: 0;
  text-shadow: black 0 2px 3px;
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-icon:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background-blend-mode: overlay;
  opacity: 0;
  transform: translateY(100%);
  transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-height: 100%;
  position: relative;
}

.font {
  max-height: 1000rem;
}

#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-height: 100%;
  position: relative;
}

.font2 {
  padding-bottom: 11rem;
}

.custom-scrollbar {
  overflow-x: hidden;
  scrollbar-color: transparent transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 1px; /* Largeur de la barre de défilement */
  opacity: 0.1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(114, 205, 219);
  border-radius: 50%;
}

.radix-themes {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.contact {
  max-height: 100%;
  padding-bottom: 15rem;
}

.light-text {
  color: rgb(129, 137, 153);
}

.move-line {
  border: none;
  padding: 10px 20px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.move-line::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(8, 4, 7);
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.move-line:hover::before {
  width: 100%;
  background-color: rgb(224, 112, 178);
}

.home {
  padding: 1rem 2rem 0 2rem;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
}
* {
  box-sizing: border-box;
  font-size: 15px;
}

.cardHeight {
  min-height: 55rem;
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
